@{
    ViewBag.Title = "Sobre Nós";
}
<h2>@ViewBag.Title</h2>
<p><img src="~/Content/Car4ULogo.png" width="150" height="150" align="right" /></p>
<p>A Car4U é uma nova companhia na filial de rent-a-car, que pretende revolucionar o mercado Português.</p>
<p>A Car4U é uma companhia que procura atingir novas metas nesta área na qual está inserida, procura trazer o melhor serviço e os melhores produtos aos clientes.</p><br />
<p><strong>Quando tem a ver com uma rent-a-car a Car4U é a companhia perfeita para si</strong></p>
<p>A Car4U é uma companhia inovadora que procura ter sucesso no aluguer de automóveis na indústria automóvel.</p><br />
<p><strong>Aluguer automóvel em Portugal</strong></p>
<p>A Car4U entrou no mercado Português em 2015 e neste momento tem 3 aeroportos com contrato de aluguer de automóveis que são o aeroporto de Lisboa, Porto e Faro.</p>
<p>A nossa rent-a-car Car4U utiliza um formulário que pretende utilizar da melhor maneira possível: bom serviço ao cliente, preços baixos e uma grande seleção de uma variada gama de veículos (modelos europeus).</p>