
@{
    ViewBag.Title = "Frota";
}

<h2>Frota</h2>

<div class="row">
    <section class="col-lg-12">
        <article class="col-lg-6">
            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                <p>Categoria x1</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x2</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x3</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x4</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x5</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x6</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x7</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x8</p>
                </div>
            </div>

            <div class="panel col-lg-4">
                <img src="#" />
                <div class="panel-footer">
                    <p>Categoria x9</p>
                </div>
            </div>

        </article>
        <article class="col-lg-6">


        </article>

    </section>


</div>
